name: Upload Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.SECRETKEY }}
          aws-secret-access-key: ${{ secrets.ACCESSKEY }}

          aws-region: us-east-1

      - name: Deploy static site to S3 bucket
        run: aws s3 sync public s3://lha1-bucket --delete
